<div fxLayout="column" class="outerContainer">
    <div fxFlex>
      <mat-card style="background-color: rgb(32, 32, 32);">
        <mat-card-content>
            <h1>Checkout</h1>
       <mat-card class="mat-elevation-z0">
           <mat-card-content>
            <div fxLayout="row wrap"fxLayoutGap="10px" >
                <div fxFlex>
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-title>Products in Cart</mat-card-title>
                                <mat-divider></mat-divider><br />
                                <mat-card-content>


                                

                                    <div fxFlex>
                                        <table mat-table [dataSource]="products">
                                            <!--- Note that these columns can be defined in any order.
                                                  The actual rendered columns are set as a property on the row definition" -->
                                        
                                            <!-- Position Column -->
                                            <ng-container matColumnDef="product">
                                              <th mat-header-cell *matHeaderCellDef> Product </th>
                                              <td mat-cell *matCellDef="let element">
                                               {{element.name}}<br /><div class="productDescription">{{element.description}}</div></td>
                                            </ng-container>
                                        
                                            <!-- Status Column-->
                                            <ng-container matColumnDef="quantity">
                                                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                              </ng-container>
        
                                              <ng-container matColumnDef="price">
                                                <th mat-header-cell *matHeaderCellDef> Price </th>
                                                <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
                                              </ng-container>
                                          
                                          
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                          </table>
                                          <div align="end" style="margin-right: 30px; margin-top: 10px; margin-bottom: 10px; font-weight: bold;">Total: $17</div>
                                          <mat-divider></mat-divider>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                 
                </div>
                <div fxFlex id="payment">
                    <div fxLayout="column">
                        <mat-card >
                            <mat-card-title>Payment Method</mat-card-title>
                            <mat-divider></mat-divider>
                            <mat-card-content>
                                <div fxLayout="column">


<br />
                                    <div fxFLex>
                                        <mat-accordion class="example-headers-align" multi>
                                            <mat-expansion-panel expanded>
                                              <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <mat-icon>paypal</mat-icon>
                                                  </mat-panel-title>
                                                <mat-panel-description>
                                                 Pay with PayPal
                                                </mat-panel-description>
                                              </mat-expansion-panel-header>
                                <br />
                                              <div #paypalRef class="paypalButton" id="paypalButton" ></div><br />
                                              <!--paypal goes here-->
                                            </mat-expansion-panel>
            
                                          
                                            <mat-expansion-panel id="UCC">
                                              <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <mat-icon>payment</mat-icon>
                                                  </mat-panel-title>
                                                <mat-panel-description>
                                                    Pay with card
                                                </mat-panel-description>
                                              </mat-expansion-panel-header>
                                    
                                            <!--Card goes here-->

                                              <!-- Advanced credit and debit card payments form -->
  <div class="card_container" *ngIf="!paymentComplete">
    <mat-spinner *ngIf="cardSpinner" style="margin:0 auto;" >
    </mat-spinner>
    <form id="card-form">

      <label for="card-number">Card Number</label><div id="card-number" class="card_field"></div>
      <div>
        <label for="expiration-date">Expiration Date</label>
        <div id="expiration-date" class="card_field"></div>
      </div>
      <div>
        <label for="cvv">CVV</label><div id="cvv" class="card_field"></div>
      </div>
      <br><br>
      <button mat-raised-button color="primary" value="submit" id="submit" class="cardButton">Pay Now</button>
    </form>
  </div>
                                              
                                            </mat-expansion-panel>
                                          </mat-accordion>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
           </mat-card-content>
       </mat-card>
        </mat-card-content>
      </mat-card>
    </div>



<!--Payment completion portion if paypal transaction was done.-->
    <div fxFlex *ngIf="paypalTransactionCompleted">
       <mat-card style="background-color: rgb(32, 32, 32);">
        <mat-card-content>
            <h1>Payment Details</h1>
       <mat-card class="mat-elevation-z0">
           <mat-card-content>
            <div fxLayout="row wrap"fxLayoutGap="10px">
                <div fxFlex>
                        <div fxLayout="column">
                            <mat-card>
                                <mat-card-title>Payment is Complete!</mat-card-title>
                                <mat-divider></mat-divider>
                                <mat-card-content>
                                    <div fxFlex>
                                     <mat-list role="list">
                                        <mat-list-item role="listitem">Transaction ID: {{transactionID}}</mat-list-item>
                                        <mat-list-item role="listitem">Amount: {{transactionAmount | currency}}</mat-list-item>
                                        <mat-list-item role="listitem">Date: {{transactionDate | date}}</mat-list-item>
                                        <mat-list-item role="listitem">Platform Fee: {{platformFee | currency}}</mat-list-item>
                                        <mat-list-item role="listitem">Funding Source: {{paymentSource}}</mat-list-item>
                                        <mat-list-item role="listitem" *ngIf="fundedByCard">Last 4 digits: {{lastFour}}</mat-list-item>
                                      </mat-list>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                </div>
                <div fxFlex fxLayoutAlign="center center" *ngIf="!paypalRefundInitiated">
                    <div fxLayout="column" >
                        <div fxFlex >
                            <button mat-raised-button (click)="issueRefund()" color="accent">Issue Full Refund</button>
                        </div>
                    </div>
                </div>
            </div>
           </mat-card-content>
       </mat-card>
        </mat-card-content>
      </mat-card>
    </div>





    


    <!--Refund portion if paypal transaction was done.-->
    <div fxFlex *ngIf="paypalTransactionCompleted && paypalRefundInitiated">
        <mat-card style="background-color: rgb(32, 32, 32);">
         <mat-card-content>
             <h1>Refund Details</h1>
        <mat-card class="mat-elevation-z0">
            <mat-card-content>
             <div fxLayout="row wrap"fxLayoutGap="10px">
                 <div fxFlex>
                         <div fxLayout="column">
                             <mat-card>
                                <mat-spinner *ngIf="!paypalRefundCompleted" style="margin:0 auto;" >
                                </mat-spinner>

                                <div *ngIf="paypalRefundCompleted">
                                 <mat-card-title>Refund is Complete!</mat-card-title>
                                 <p>Refresh the page to submit a new payment</p>
                                 <mat-divider></mat-divider>
                                 <mat-card-content>
                                     <div fxFlex>
                                      <mat-list role="list">
                                         <mat-list-item role="listitem">Transaction ID: {{refundTransactionID}}</mat-list-item>
                                         <mat-list-item role="listitem">Date:{{transactionDate | date}}</mat-list-item>
                                       </mat-list>
                                     </div>
                                 </mat-card-content>
                                 </div>
                             </mat-card>
                         </div>
                 </div>
             </div>
            </mat-card-content>
        </mat-card>
         </mat-card-content>
       </mat-card>
     </div>
  </div>
  