<div fxLayout="column" class="outerContainer">
    <div fxFlex>
      <mat-card style="background-color: rgb(32, 32, 32);">
        <mat-card-content>
          <div fxLayout="column">
            <div fxFlex class="childColumnContainers">
              <h1> Welcome, {{user}}!</h1>
            </div>  
             <div fxFlex class="childColumnContainers" *ngIf="oderHistoryVisibility != false">
               
              <mat-card style="background-color: black; color: white;">
                <mat-card-content>
                 <mat-card>
                   <mat-card-content>
                
                     <!--TODOS-->
                     TODOS for this page<br/>
                   1.) add a check to see if ppcommerce is connected. if it is not display a message to connect.
                   
                   If it is configured then do the below stuff.
                   2.) search transaction input top right - transaction search api<br/>
                   3.) pie chart with recent payment data - big and bad <br/>
                   4.) list of recent transactions - typical data boring table<br/>

                   </mat-card-content>
                 </mat-card>
                </mat-card-content>
              </mat-card>
            </div>           
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  