table {
    width: 100%;
} #post {
   float: right;
   margin-bottom: 5px;
} th{
    background-color: #14a10d;
    color: white;
    border-radius: 1px;
  }button {
    background: white;
}p{
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 15px;
  }
  