
<div class="personalInfo"> 
    <h1>Personal Details</h1>
    <p>TODO: fix this section so data maps...</p>
    <div class="innerPersonalDetails">
    <li style="padding-top: 10px;">Username: </li>
    <mat-divider [inset]="true"></mat-divider>
    <li>First Name: </li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Last Name: </li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Phone: </li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Address: </li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Email:</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Role: </li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Date Created: </li>
    <mat-divider [inset]="true"></mat-divider>
    <li style="padding-bottom: 10px;"></li>
</div>
<br />
</div>