
<img src="./assets/contact.png" class="logo">
<!--Original royalty free image obtained from https://i.pinimg.com/originals/94/00/17/94001795a3efc6330f4b6b835b68b989.png-->
<h1>Administration Dashboard</h1>
<div fxLayout="column" class="outerContainer">
    <div fxFlex>
    <mat-card class="mat-elevation-z8" style="background-color: rgb(32, 32, 32);">
        <mat-card-content>
            <div fxLayout="column">

<!--Security questions and Role Management Column-->
<div fxFlex class="childColumnContainers">
    <div fxLayout="row wrap" fxLayoutGap="10px">
        <div fxFlex class="childRowContainers">
<!--Security questions go here-->
<mat-card>
    <mat-card-content>
        <app-catalogmanagement></app-catalogmanagement>
            </mat-card-content>
            </mat-card>
            </div>

        <div fxFlex class="childRowContainers">
<!--Role Management Goes here-->
<mat-card>
    <mat-card-content>   
        <app-base></app-base>
            </mat-card-content>
            </mat-card>
            </div>
        </div>
    </div>
</div>
</mat-card-content>
</mat-card>
</div>
<br />
</div>