.outerContainer {
  width: 90%;
  margin: 0 auto;
}

.childColumnContainers{
  margin-top: 10px;
  margin-bottom: 5px;
}

.ad{
  text-align: center;
  background-color: #ede1b98c;
}

.adButton{
  float: right;
  width: 1px;
  background-color: white;
  color: black;
}

.questions{
  text-align: center;
}

.purchaseGraph{
  text-align: center;
}


h1{
  font-weight: 200;
  font-size: 28px;
  color: white;
}


.contactContainer{
  background-color: black;
  color: white;
}

h3{
  margin-top: -5px;
  margin-bottom: -5px;
}


.example-card {
  max-width: 350px;
}

table {
  width: 100%;
}

.productTitle{
  font-weight: 500;
}

.productDescription{
  font-style: italic;
}

.paypalButton{
 width: 75%;
 margin: auto;
 align-content: center;
}

th{
  background-color: #14a10d;
  color: white;
  border-radius: 1px;
}