<p>{{configName}} Configuration Settings</p>


    <mat-card-content>

        <div fxLayout="column" fxLayoutGap="10px">
<div fxFlex [hidden]="payPalConfigIsSetup">
    <span>PayPal isn't currently connected! Click the below button to configure it!</span><br />
<button mat-raised-button (click)="onboardPayPal()" color="accent">Connect PayPal</button>
</div>

<div fxFlex [hidden]="!payPalConfigIsSetup">
    <p>Environment: {{environment}}</p>
    <p>PayPal Merchant ID: {{merchantIdInPayPal}}</p>
    <p>PayPal Client ID:  {{merchant_client_id}}</p>
    <p>Scopes: </p>
    <ul> 
        <li *ngFor="let scope of scopes">
            {{scope}}
        </li>
    </ul>         
</div>

        </div>
        <div>
            
        </div>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button matDialogClose="cancel" color="primary">Close</button>
        <button  
        [hidden]="!payPalConfigIsSetup"
        (click)="removePayPal()"
        mat-raised-button 
        matDialogClose="create"
        style="color: white; background-color: red;">Remove</button>
    </mat-card-actions>
