<div fxLayout="column" class="pageContainer">
  <mat-sidenav-container class = "tp-container">
    <mat-sidenav mode = "side" opened>
      <section class = "tp-section">
        <span><img src="./assets/logo2.png" class="brandLogo" routerLink="/"></span>
     </section>
       <section class = "tp-section">
        <span><div class="navbar-link">
          <img src="./assets/profile.png" class="brandLogo" routerLink="/profile">
          </div></span>
     </section>
     <section class = "tp-section"  *ngIf = "this.isVisible">
      <span><img src="./assets/contact.png" class="brandLogo" routerLink="/admin"></span>
   </section>
   <section class = "tp-section">
    <span>
      <img src="./assets/plus.png" class="brandLogo" (click)="createMarketplace()">
      </span>
 </section>
     <section class = "tp-section">
      <span>
        <img src="./assets/exit.png" class="brandLogo" routerLink="/" (click)="singOut()">
        </span>
   </section>
    </mat-sidenav>
    <mat-sidenav-content>
       <!-- main content -->
      <div fxFlex>
        <main class="main-content" fxFlex="100%;">
          <br /><br />
          <router-outlet></router-outlet>
          <br /><br /><br />
          <footer class="footer">
            <mat-toolbar class="footer-content footerStyle">
              <p>
                &copy; {{year | date: 'yyyy'}} - Marketplace Generator By JB
              </p>
            </mat-toolbar>
          </footer>
        </main>
      </div>
      
    </mat-sidenav-content>
 </mat-sidenav-container>


  <!-- main content 

footer 
  <div fxFlex >
    <footer class="footer">
      <mat-toolbar class="footer-content footerStyle">
        <p>
          &copy; {{year | date: 'yyyy'}} - Marketplace Generator By JB
        </p>
      </mat-toolbar>
    </footer>
  </div>
  -->
</div>
