
/*
.navbar-container {
    padding: 5px;
  }

mat-toolbar{
    padding-top: 10px;
    background-color: rgb(32, 32, 32);
  }
  
  .navbar-link {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(32, 32, 32);
  }
  */ 
  .main-content {
    padding-left: 30px;
  }
 
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 100;
    background-color: rgb(32, 32, 32);;
  }



  .footerStyle{
    justify-content: center;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 100;
    padding-top: 10px;
    background-color: rgb(32, 32, 32);
    color: white;
  }

  

  .brandLogo{
    width: 40px;
    margin-top: 30px;
    padding-left: 10px;
}


.example-spacer {
  flex: 1 1 auto;
}


.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(32, 32, 32);
}

.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width:50px;   
  background-color: black;
}

.mat-drawer {
  background-color: black;
}